[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
openai = "*"
openpyxl = "*"
anthropic = "*"
google-generativeai = "*"
llamaapi = "*"
tenacity = "*"
cohere = "*"
mistralai = "*"
ollama = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
